{% extends 'default.html' %}
{% load custom_filters %}
{% block content %}
<div class="container mt-4">
    <h1>Новости</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!--
                        Если требуется изображение
                        <img src="https://static.thenounproject.com/png/4595376-200.png" class="d-block mx-auto card-img-top" alt="{{ post.title }}" style="height: 150px; width: 150px;">
                    -->   
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title|censor }}</h5>
                        <p class="card-text">{{ post.text|truncatechars:51|censor }}</p>
                        <a href="{% url 'news_detail' post.id %}" class="btn btn-primary">Подробно</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ post.dateCreation|date:"d-M-Y H:i" }}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет новостей для отображения.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
