{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
            <p class="text-secondary text-center h2">Базовый шаблон</p>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
